* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

:root {
    --clr: #222327;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);
}

.navigation {

    width: 500px;
    height: 70px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 450px;
    justify-content: space-around;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;

}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}


.navigation ul li a .icon {

    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: .5s;
    color: var(--clr);
}

.navigation ul li:hover a .icon {

    transform: translateY(-35px);
}

.navigation ul li:hover a .text {

    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
}